body {
    background-color: rgb(148, 219, 243);
}

.bg-hero-image {
    background-position: center;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    margin-bottom: 10px;
}

h1.text-center {
    padding-top: 50px;
}

h1.mb-3 {
    color: pink;
}

h1.mb-3:hover {
    color: white;

}

.bg-hero-image-baby {
    background-image: url("imgs/unnamed.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

p.font {
    text-align: center;
    margin: auto;
}

.bg-hero-image-bday {
    background-image: url("imgs/astronomy.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
}

.button-container {
    display: flex;
  }